@import "../../node_modules/bootstrap/scss/_functions.scss";

// Cores Personalizadas
$primary: #1EB4C3;
$secondary: #FBA41F;
$danger: #ED2152;
$light: #FAFAFA;
$dark: #1B1C20;
$body-color: #1B1C20;
$body-bg: #F5F5F5;

// Módulos Bootstrap
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/variables-dark.scss";
@import "../../node_modules/bootstrap/scss/maps.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";
@import "../../node_modules/bootstrap/scss/root.scss";
@import "../../node_modules/bootstrap/scss/buttons.scss";

// Fonte Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bs-body-font-family: 'Ubuntu', sans-serif;
    --bs-body-font-size: 1.25rem;
    --bs-navbar-color: var(--bs-body-color);
}

// 1. O 'body' precisa ser o "container" de referência
body {
    position: relative; // Essencial para o 'position: absolute' do #vanta-bg
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
  resize: none;
}

.vh-90 {
    height: 90vh !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-35 {
        width: 35% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .my-md-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .mt-md-0 {
        margin-top: 0 !important;
    }

    .mx-md-2 {
        margin-left: map-get($spacers, 2) !important;
        margin-right: map-get($spacers, 2) !important;
    }

    .me-md-4 {
        margin-right: map-get($spacers, 4) !important;
    }

    .my-md-7 {
        margin-top: 7rem !important;
        margin-bottom: 7rem !important;
    }
}

#hero-section {      
    background-image: linear-gradient(
      110deg,
      var(--bs-secondary) 50%,
      transparent 50%
    ),
    url("/images/placeholder_16_9.png");
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
  }

// ==================================================
// == ADIÇÃO PARA O FUNDO VANTA.JS (VERSÃO 'ABSOLUTE' QUE ROLA) ==
// ==================================================

// 2. O 'vanta-bg' se estica para preencher o 'body'
#vanta-bg {
    position: absolute;  // Corrigido de 'fixed' para 'absolute'
    top: 0;
    left: 0;
    width: 100%;       
    bottom: 0;         // Estica até o fim do 'body'
    z-index: -1;       // Fica atrás de tudo
}