<footer class="bg-light text-center" data-bs-theme="light">
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center text-center">
        <img src="images/logo_sqr.png" width="50" class="img-fluid mt-4 mt-md-0" alt="Logo PoliLustra">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center my-4">
            <a href="/sobre" class="text-dark mb-4 mb-md-0 mx-md-2">Sobre Nós</a>
            <a href="/contato" class="text-dark mb-4 mb-md-0 mx-md-2">Contato</a>
            <a href="/faq" class="text-dark mb-4 mb-md-0 mx-md-2">Perguntas Frequentes</a>
            <a href="/termos-e-condicoes" class="text-dark mb-4 mb-md-0 mx-md-2">Termos e Condições</a>
            <a href="/politica-de-privacidade" class="text-dark mb-4 mb-md-0 mx-md-2">Política de Privacidade</a>
        </div>
        <p class="fs-6 mb-0">© 2025 PoliLustra</p>
    </div>
</footer>