<footer class="bg-light text-center" data-bs-theme="light">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center text-center">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center w-lg-50 mt-4 my-lg-7">
            <a href="#" class="text-dark mb-4 mb-lg-0 me-lg-4">Sobre Nós</a>
            <a href="#" class="text-dark mb-4 mb-lg-0 me-lg-4">Contato</a>
            <a href="#" class="text-dark mb-4 mb-lg-0 me-lg-4">Perguntas Frequentes</a>
            <a href="#" class="text-dark mb-4 mb-lg-0 me-lg-4">Termos e Condições</a>
            <a href="#" class="text-dark mb-4 mb-lg-0 me-lg-4">Política de Privacidade</a>
        </div>
        <div class="w-lg-50 mb-4 mb-lg-0">
            <img src="images/logo_hor.png" class="img-fluid w-80 w-lg-50" alt="Logo PoliLustra">
        </div>
    </div>
    © 2025 PoliLustra
</footer>