<footer class="bg-light text-center" data-bs-theme="light">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center text-center">
        <!-- <p class="fs-2 mb-0 me-5 fw-bold">PoliLustra</p> -->
        <img src="images/logo_sqr.png" width="50" class="img-fluid me-5" alt="Logo PoliLustra">
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center w-lg-50 my-4">
            <a href="/sobre" class="text-dark mb-4 mb-lg-0 me-lg-4">Sobre Nós</a>
            <a href="/contato" class="text-dark mb-4 mb-lg-0 me-lg-4">Contato</a>
            <a href="/faq" class="text-dark mb-4 mb-lg-0 me-lg-4">Perguntas Frequentes</a>
            <a href="/termos-e-condicoes" class="text-dark mb-4 mb-lg-0 me-lg-4">Termos e Condições</a>
            <a href="/politica-de-privacidade" class="text-dark mb-4 mb-lg-0 me-lg-4">Política de Privacidade</a>
        </div>
        <hr class="d-lg-none w-100">
        <p class="fs-6 mb-0 ms-5">© 2025 PoliLustra</p>
    </div>
</footer>