<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Criar Conta | PoliLustra'}) %>
    <body>
        <div id="vanta-bg"></div>
    
        <%- include('partials/navbar') %>
        <main class="d-flex justify-content-center align-items-center flex-grow-1 mobile-min-height mobile-min-width">
            <div class="bg-white p-5 rounded-4 shadow text-center criar-conta-box mx-auto w-90 w-md-35 my-4">      
                <h1 class="mb-4 criar-conta-title">Criar Conta</h1>
                <form id="register-form">
                    <div class="mb-4">
                        <input type="text" class="form-control custom-input" placeholder="Nome Completo" required id="name-input">
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control custom-input" placeholder="Email @sistemapoliedro.com ou @p4ed" required id="email-input">
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control custom-input" placeholder="Confirme seu Email" required id="email-confirm-input">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control custom-input" placeholder="Senha" required id="password-input">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control custom-input" placeholder="Confirme sua Senha" required id="password-confirm-input">
                    </div>
                    <div class="d-flex justify-content-center align-items-center mb-4" style="text-wrap: nowrap;">
                        <input type="checkbox" id="aceite-termos" name="aceite-termos" required>
                        <label for="aceite-termos" class="ms-2">
                            Aceito os <a href="/termos-e-condicoes" target="_blank">Termos e Condições</a>
                        </label>
                    </div>
                    <div class="alert mb-4 d-none"></div>
                    <button id="cadastrar-btn" type="submit" class="btn btn-light btn-md border border-dark border-3">Cadastrar</button>
                    <button id="cadastrar-btn-wait" type="submit" class="btn btn-light btn-md border border-dark border-3 d-none" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Cadastrar</button>
                </form>
            </div>
        </main>
        <%- include('partials/footer') %>
        
        <script src="/js/criar-conta.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>

        <script>
            VANTA.NET({
                el: "#vanta-bg",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                color: 0xfba41f,      // Sua cor $primary (#1EB4C3)
                backgroundColor: 0xFAFAFA, // Sua cor $dark (#1B1C20)
                points: 12.00,        // Quantidade de pontos
                maxDistance: 22.00,   // Distância máxima para desenhar linhas
                spacing: 18.00        // Espaçamento entre os pontos
            });
        </script>
    </body>
</html>