<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Esqueci minha Senha | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>

        <div class="d-flex justify-content-center align-items-center flex-grow-1">
            <div class="bg-white p-5 rounded-4 shadow text-center login-box mx-auto w-80 w-md-35 my-4"> 
                <h1 class="mb-4 login-title">Recuperar cadastro</h1>
                <p>Digite seu email cadastrado para alterar sua Senha</p>
                <form id="login-form" class="mb-4">
                    <div class="mb-3">
                        <input type="email" id="email-input" class="form-control custom-input" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control custom-input" placeholder="Confirme seu Email" required>
                    </div>
                    <div class="alert mb-4 d-none"></div>
                    <button id="login-btn" type="submit" class="btn btn-light btn-md border border-dark border-3">Confirmar</button>
                    <button id="login-btn-wait" type="submit" class="btn btn-light btn-md border border-dark border-3 d-none" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Confirmar</button>
                </form>
                
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>