<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'FAQ | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div>  
            <main class="container">
              <div class="my-5">
                <h1 class="mb-3">Perguntas frequentes</h1>
                <ol>
                  <li>
                    <strong>Quem são os desenvolvedores do PoliLustra?</strong>
                    <p>O projeto foi desenvolvido por alunos do curso de TI do Instituto Mauá de Tecnologia em parceria com o Colégio Poliedro.
                  </li>
                  <li>
                    <strong>Quem pode usar o PoliLustra?</strong>
                    <p>O Polilustra foi desenvolvido para atender exclusivamente alunos professores e alunos do Colégio Poliedro.</p>
                  </li>
                  <li>
                    <strong>Como posso criar uma conta?</strong>
                    <p>Para criar uma conta, basta acessar a <a href="/criar-conta">página de cadastro</a> e preencher as informações solicitadas utilizando um email "@p4ed.com" ou "@sistemapoliedro.com".</p>
                  </li>
                  <li>
                    <strong>Como meus dados são processados?</strong>
                    <p>O projeto foi desenvolvido de acordo com as normas estabelecidas pela <strong>Lei Geral de Proteção de Dados (LGPD)</strong>, de maneira que o usuário protegido é contra possíveis violações de privacidade. Para mais informações, consulte a nossa <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a> e os <a href="/termos-e-condicoes" target="_blank">Termos e Condições</a> do PoliLustra.</p>
                  </li>
                  <li>
                    <strong>Como posso gerar uma imagem?</strong>
                    <p>Para gerar uma imagem, certifique-se de que você está autenticado no sistema e selecione a opção "Gerador de Imagens". Na página, selecione as opções desejadas e descreva a imagem que deseja gerar. Sua imagem será exibida após clicar na opção "Gerar Imagem".</p>
                  </li>
                </ol>
              </div>
            </main>        
        </div>
        <%- include('partials/footer') %>
    </body>
</html>