<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Gerador de Imagens Educacionais | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div class="d-flex justify-content-around align-items-center my-5 text-center">
            <div class="w-35 vh-75 rounded-4 border border-dark border-3 d-flex justify-content-center align-items-center overflow-hidden">
                <img id="imagem-gerada" class="vh-75 d-none" alt="Imagem Gerada">
                <p id="placeholder-text">Sua imagem aparecerá aqui</p>
                <div class="spinner-border text-primary d-none" style="width: 4rem; height: 4rem;" role="status"></div>
                <div class="alert alert-danger w-80 d-none"></div>
            </div>
            <form id="form-gerador" class="w-35 d-flex flex-column align-items-center text-center">
                <h1 class="text-center">Gerador de Imagens</h1>
                <label for="materia-select" class="form-label mt-3">Matéria:</label>
                <select name="materia" id="materia-select" class="form-select mb-3">
                    <option></option>
                    <option value="Física">Física</option>
                    <option value="Química">Química</option>
                </select>
                <label for="tema-select" class="form-label mt-3">Tema:</label>
                <select name="tema" id="tema-select" class="form-select mb-3">
                </select>
                <label for="estilo-select" class="form-label mt-3">Estilo:</label>
                <select name="estilo" id="estilo-select" class="form-select mb-3">
                    <option></option>
                    <option value="Realista">Realista</option>
                    <option value="Anime">Anime</option>
                    <option value="Diagrama">Diagrama</option>
                    <option value="Gravura">Gravura</option>
                    <option value="Close-Up">Close-Up</option>
                </select>
                <label for="descricao-input" class="form-label mt-3">Descrição:</label>
                <textarea id="descricao-input" class="form-control" rows="4" placeholder="Descreva a imagem que deseja gerar..."></textarea>
                <button id="gerar-btn" class="btn btn-primary mt-3">Gerar Imagem</button>
            </form>
        </div>
        <%- include('partials/footer') %>
        <script src="js/gerador.js"></script>
    </body>
</html>