<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Início | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        
        <div id="hero-section" class="d-flex justify-content-center align-items-center text-center vh-90
        flex-column flex-md-row border-bottom mb-3 flex-grow-1">
            
            <div class="d-flex flex-column justify-content-center align-items-center w-75 w-md-50">
                <img src="images/logo_hor.png" alt="Logo PoliLustra" class="img-fluid w-md-75 mb-5">
                 <p class="w-md-75 fs-2 mb-5">Dê uma cara nova às suas apresentações com imagens geradas por Inteligência Artificial!</p>
                <div class="d-flex justify-content-center align-items-center fw-bold mt-5">
                    Deslize para ver mais
                    <br>
                    &darr;&darr;&darr;
                </div>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-md-row-reverse justify-content-around align-items-center text-center m-5">
            <div class="w-md-50 mb-4 mb-md-0 align-items-center">
                <h2 class="fw-bold mb-4">O que é o PoliLustra?</h2>
                 <p>O Polilustra é um projeto de alunos do Instituto Mauá de Tecnologia, desenvolvido com o intuito de auxiliar os alunos e professores do Colégio Poliedro a ilustrar e desenvolver os conteudos estudados em sala, para utilizar em provas, apresentações ou similares</etc></p>
            </div>
            <img src="images/demo-final-gen.gif" alt="Imagem ilustrativa" class="img-fluid w-md-30 rounded-3 shadow-lg mt-4 mt-md-0">
        </div>
        
 <hr>
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center text-center m-5">
            <div class="d-flex flex-column align-items-center w-md-50">
                <h2 class="fw-bold mb-4">Como Funciona?</h2>
                <p>Para usar o gerador de imagens, basta fazer login, ir à página do gerador, selecionar a matéria, o conteúdo e estilo desejados.
 Depois, é só descrever o que deseja gerar e sua imagem estará pronta!</p>
                <button onclick="window.location.href = '/gerador';"
 class="btn btn-light btn-lg border border-dark border-3 mx-1 my-4">
                    Ir para o Gerador de imagens
                </button>
            </div>
            <img src="images/demo-final-hist.gif" alt="Imagem ilustrativa" class="img-fluid w-md-30 rounded-3 shadow-lg mt-4">
        </div>
        <hr>
    
        <h2 class="fw-bold m-4 text-center">Feito para a comunidade Poliedro</h2>
        <div class="d-flex flex-column flex-md-row justify-content-around text-center m-4">
            <div class="w-md-35 mb-4">
                <h3 class="fw-bold mb-4">Para Professores</h3>
                <p>Ideal para professores que buscam um toque de modernidade em suas aulas, tornando o ensino mais fácil e dinâmico com o uso de tecnologias modernas que 
 potencializam o aprendizado. As imagens geradas podem ser utilizadas em provas e materiais de aula.</p>
            </div>
             <div class="w-md-35 mb-4">
                <h3 class="fw-bold mb-4">Para Alunos</h3>
                <p>Ideal para alunos que tem maior facilidade para fazer todo tipo de tarefa utilizando <a href=""></a> tecnologia, tornando o estudo mais eficiente.
 As imagens geradas podem ser utilizadas para apresentações e visualização dos conteúdos.</p>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-column align-items-center align-self-center m-4 mb-5 text-center">
            <h4 class="mb-4">Faça login ou crie uma conta para começar!</h4>
            <div>
                <button onclick="window.location.href = '/login';" class="btn btn-lg btn-light border border-dark border-3 mx-1">Log In</button>
                <button onclick="window.location.href = '/criar-conta';" class="btn btn-lg btn-primary border border-dark border-3 mx-1">Criar Conta</button>
            </div>
        </div>
        
        <%- include('partials/footer') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
        <script>
            VANTA.WAVES({
            el: "#hero-section",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xFBA41F,
            shininess: 0.00,
            waveHeight: 14.50,
            waveSpeed: 0.6,
            zoom: 0.78
            });
        </script>
    </body>
</html>