<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Início | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div id="hero-section" class="d-flex justify-content-start align-items-center text-center vh-90
        flex-column flex-md-row border-bottom mb-3">
            <div class="d-flex flex-column justify-content-center align-items-center w-50">
                <img src="images/logo_hor.png" alt="Logo PoliLustra" class="img-fluid w-50">
                <p class="w-50 fs-4">Dê uma cara nova às suas apresentações com imagens geradas por Inteligência Artificial!</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button onclick="window.location.href = '/login';" class="btn btn-light btn-lg border border-dark border-3 mx-1">Log In</button>
                    <button onclick="window.location.href = '/register';" class="btn btn-primary btn-lg border border-dark border-3 mx-1">Criar Conta</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse justify-content-around text-center m-5">
            <div class="w-50">
                <h2 class="fw-bold mb-4">O que é o PoliLustra?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <img src="images/placeholder_16_9.png" alt="Imagem ilustrativa" class="img-fluid w-30 rounded-3 shadow-lg">
        </div>
        <hr>
        <div class="d-flex flex-row justify-content-around text-center m-5">
            <div class="w-50">
                <h2 class="fw-bold mb-4">Como Funciona?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <img src="images/placeholder_16_9.png" alt="Imagem ilustrativa" class="img-fluid w-30 rounded-3 shadow-lg">
        </div>
        <hr>
        <h2 class="fw-bold m-5 text-center">Feito para a comunidade Poliedro</h2>
        <div class="d-flex flex-row justify-content-around text-center m-5">
            <div class="w-35">
                <h3 class="fw-bold mb-4">Para Professores</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="w-35">
                <h3 class="fw-bold mb-4">Para Alunos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>