<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Início | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div id="hero-section" class="d-flex justify-content-start align-items-center text-center vh-90
        flex-column flex-md-row border-bottom mb-3">
            <div class="d-flex flex-column justify-content-center align-items-center w-50">
                <img src="images/logo_hor.png" alt="Logo PoliLustra" class="img-fluid w-50">
                <p class="w-50 fs-4">Dê uma cara nova às suas apresentações com imagens geradas por Inteligência Artificial!</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button onclick="window.location.href = '/login';" class="btn btn-light btn-lg border border-dark border-3 mx-1">Log In</button>
                    <button onclick="window.location.href = '/cadastro';" class="btn btn-primary btn-lg border border-dark border-3 mx-1">Criar Conta</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse justify-content-around text-center m-5">
            <div class="w-50">
                <h2 class="fw-bold mb-4">O que é o PoliLustra?</h2>
                <p>O Polilustra é um projeto de alunos do Instituto Mauá de Tecnologia, desenvolvido com o intuito de auxiliar os alunos e professores do Colégio Poliedro a ilustrar e desenvolver os conteudos estudados em sala, para utilizar em provas, apresentações ou similares</etc></p>
            </div>
            <img src="images/placeholder_16_9.png" alt="Imagem ilustrativa" class="img-fluid w-30 rounded-3 shadow-lg">
        </div>
        <hr>
        <div class="d-flex flex-row justify-content-around text-center m-5">
            <div class="d-flex flex-column align-items-center w-50">
                <h2 class="fw-bold mb-4">Como Funciona?</h2>
                <p>Para usar o gerador de imagens, basta ir à página do gerador, selecionar a matéria, o conteúdo e estilo desejados. Depois, é só descrever o que deseja gerar e sua imagem estará pronta!</p>
                <button onclick="window.location.href = '/gerador';" class="btn btn-light btn-lg border border-dark border-3 mx-1 mt-4">
                    Ir para o Gerador de imagens
                </button>
            </div>
            <img src="images/placeholder_16_9.png" alt="Imagem ilustrativa" class="img-fluid w-30 rounded-3 shadow-lg">
        </div>
        <hr>
        <h2 class="fw-bold m-5 text-center">Feito para a comunidade Poliedro</h2>
        <div class="d-flex flex-row justify-content-around text-center m-5">
            <div class="w-35">
                <h3 class="fw-bold mb-4">Para Professores</h3>
                <p>Ideal para professores que buscam um toque de modernidade em suas aulas, tornando o ensino mais fácil e dinâmico com o uso de tecnologias modernas que potencializam o aprendizado. As imagens geradas podem ser utilizadas em provas e materiais de aula.</p>
            </div>
            <div class="w-35">
                <h3 class="fw-bold mb-4">Para Alunos</h3>
                <p>Ideal para alunos que tem maior facilidade para fazer todo tipo de tarefa utilizando <a href=""></a> tecnologia, tornando o estudo mais eficiente. As imagens geradas podem ser utilizadas para apresentações e visualização dos conteúdos.</p>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>