<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Login | PoliLustra'}) %>
    <body>
        <div id="vanta-bg"></div>

        <%- include('partials/navbar') %>

        <div class="d-flex justify-content-center align-items-center flex-grow-1">
            <div class="bg-white p-5 rounded-4 shadow text-center login-box mx-auto w-80 w-md-35 mt-4"> 
                <h1 class="mb-4 login-title">Login</h1>
                <form id="login-form" class="mb-4">
                    <div class="mb-3">
                        <input type="email" id="email-input" class="form-control custom-input" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control custom-input" placeholder="Senha" required id="password-input">
                    </div>
                    <div class="mb-4 d-flex flex-column gap-2">
                        <a href="#">Esqueceu sua Senha?</a>
                        <a href="/cadastro">Ainda não tenho cadastro</a>
                    </div>
                    <div class="alert mb-4 d-none"></div>
                    <button id="login-btn" type="submit" class="btn btn-light btn-md border border-dark border-3">Log In</button>
                    <button id="login-btn-wait" type="submit" class="btn btn-light btn-md border border-dark border-3 d-none" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Log In</button>
                </form>
                
            </div>
        </div>

        <%- include('partials/footer') %>
        
        <script src="/js/login.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
        
        <script>
            VANTA.GLOBE({
                el: "#vanta-bg",
                mouseControls: false,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                color: 0xfba41f,         // Cor das linhas/pontos ($secondary)
                color2: 0x1e75c3,        // Cor do globo ($primary)
                backgroundColor: 0xFAFAFA, // Cor do fundo ($dark)
                size: 1.20
            });
        </script>
    </body>
</html>