<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Políticas de Privacidade | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div>  
            <main class="container">
              <div class="my-5">
                <h1 class="mb-3">Políticas de Privacidade</h1>
                <ol>
                  <li>
                    <strong>Informações Gerais:</strong>
                    <p>A presente política de privacidade contém Informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários do PoliLustra. Essa política de privacidade aplica-se a todos os usuários do site e integra os <a href="/termos-e-condicoes" target="_blank">Termos e Condições</a> estabelecidos.</p>
                    <p>O presente documento foi elaborado em conformidade com a <strong class="text-bold">Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18)</strong>, <strong class="md-text-bold">o Marco Civil da Internet (Lei 12.965/14)</strong>e o <strong>Regulamento da UE (n. 2016/6790)</strong>. Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>
                  </li>
                  <li>
                    <strong>Como recolhemos os dados pessoais do usuário e para quais finalidades:</strong>
                    <p>Quando o usuário cria uma conta/perfil na plataforma são colhidos dados de identificação básicos como email @p4ed e @sistemapoliedro.com, o nome completo, e a senha informada. A partir deles, podemos identificar o usuário e o visitante, além de garantir que somente os alunos e professores do Colégio Poliedro tenham acesso a plataformas.</p>
                  </li>
                  <li>
                    <strong>Por quanto tempo os dados pessoais ficam armazenados:</strong>
                    <p>Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.   

                      Os dados podem ser removidos ou anonimizados a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento.</p>
                  </li>
                  <li>
                    <strong>Vestibulum eget enim vulputate:</strong>
                    <p>interdum diam bibendum, efficitur tortor. Ut mi neque, accumsan vitae interdum in, placerat ut libero. Cras dapibus nunc elementum odio rhoncus, non lacinia ex pellentesque. Donec tincidunt hendrerit mattis. Aenean massa mauris, consequat eu lectus at, dignissim facilisis lorem. Phasellus id iaculis neque. Aenean at enim purus. Donec nisi ligula, lobortis ut nisi ut, interdum faucibus ligula. Curabitur malesuada faucibus augue, ac tempus lectus accumsan quis. Proin commodo purus eu quam egestas, nec porta eros euismod.</p>
                  </li>
                </ol>
              </div>
            </main>        
        </div>
        <%- include('partials/footer') %>
    </body>
</html>