<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Sobre Nós | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <main class="d-flex flex-row justify-content-around align-items-center flex-grow-1">
            <div class="w-25">
                <img src="images/Logo.png" class="img-fluid" alt="Logo PoliLustra">
            </div>
            <div class="w-50">
                <h1 class="fw-bold">Quem Somos?</h1>
                <p>
                    O PoliLustra foi criado por uma equipe de estudantes de Ciência da Computação do 
                    Instituto Mauá de Tecnologia. Ele tem como objetivo ser uma ferramenta de geração de imagens com 
                    Inteligência Artificial (IA), destinada a professores e alunos do Colégio Poliedro.
                </p>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>