<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Termos e Condições | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div>  
            <main class="container">
              <div class="termos-card my-5">
                <h1 class="mb-3">Termos e Condições de Uso</h1>
            
                <ol>
                  <li>
                    <b>Aceitação dos Termos:</b>
                    <p>O acesso e a utilização da plataforma PoliLustra ("Plataforma") implicam na <strong>aceitação integral e irrestrita</strong> destes Termos e Condições de Uso ("Termos") e da <a href="/politicas-de-privacidade">Política de Privacidade</a>. Caso o Usuário não concorde com qualquer disposição destes Termos, <strong>não deve utilizar a Plataforma.</strong></p>
                  </li>
                  
                  <li>
                    <b>Atualizações dos Termos:</b>
                    <p>O PoliLustra reserva-se o direito de <strong>alterar, modificar ou atualizar estes Termos a qualquer momento</strong>, sem aviso prévio. As alterações entrarão em vigor imediatamente após sua publicação na Plataforma. É responsabilidade do Usuário revisar periodicamente estes Termos para se manter ciente de quaisquer mudanças.</p>
                  </li>
                  
                  <li>
                    <b>Objeto e Uso Permitido:</b>
                    <p>O PoliLustra é uma ferramenta baseada em Inteligência Artificial destinada a gerar imagens para serem utilizadas como recurso pedagógico e visual em aulas ("Conteúdo Gerado").</p>
                    <p>O uso das imagens geradas pela Plataforma é estritamente limitado a <strong>fins educacionais</strong>, não-comerciais e internos às atividades do Instituto Mauá de Tecnologia e do Colégio Poliedro. Qualquer outro uso, incluindo comercialização ou redistribuição pública, é <strong> expressamente proibido.</strong></p>
                  </li>
                  
                  <li>
                    <b>Propriedade Intelectual:</b>
                    <p><b>Da Plataforma:</b> Todo o conteúdo disponibilizado na Plataforma (design, software, textos, gráficos, logotipos, etc.), excluindo o Conteúdo Gerado pelo usuário, é de propriedade intelectual conjunta ou licenciada ao <strong>PoliLustra, Instituto Mauá de Tecnologia e Colégio Poliedro</strong>, e está protegido pelas leis de direitos autorais.</p>
                    <p><b>Do Conteúdo Gerado:</b> O Usuário reconhece que, devido à natureza da inteligência artificial, o Conteúdo Gerado pode não ser único e a Plataforma pode gerar conteúdos idênticos ou similares para outros usuários. A titularidade dos direitos autorais sobre o Conteúdo Gerado é atribuída às <strong>Instituições Parceiras</strong> (Instituto Mauá de Tecnologia e Colégio Poliedro). O PoliLustra concede ao Usuário uma <strong>licença</strong> não-exclusiva, intransferível e revogável para usar o Conteúdo Gerado estritamente para os fins educacionais e não-comerciais permitidos na Seção 3.</p>
                  </li>

                  <li>
                    <b>Obrigações do Usuário e Conduta Proibida:</b>
                    <p>Ao utilizar a Plataforma, <strong>o Usuário concorda em:</strong></p>
                    <ul>
                      <li>Fornecer informações de registro (e-mail institucional) verdadeiras e precisas.</li>
                      <li>Manter a confidencialidade de sua senha, sendo o único responsável por todas as atividades que ocorram em sua conta.</li>
                      <li>Não utilizar a Plataforma para gerar conteúdo que seja ilegal, difamatório, obsceno, odioso, pornográfico, que infrinja direitos de terceiros (incluindo direitos autorais ou de privacidade) ou que promova desinformação.</li>
                      <li>Não tentar reverter a engenharia, descompilar ou tentar extrair o código-fonte da Plataforma.</li><br>
                    </ul>
                  </li>

                  <li>
                    <b>Limitação de Responsabilidade e Garantias:</b>
                    <p>A Plataforma PoliLustra é fornecida "NO ESTADO EM QUE SE ENCONTRA" (AS IS) e "CONFORME DISPONÍVEL", sem garantias de qualquer tipo, expressas ou implícitas.</p>
                    <p>O PoliLustra não garante que o Conteúdo Gerado será preciso, completo, factualmente correto ou adequado para qualquer finalidade específica. O Usuário é o único responsável por revisar e validar a adequação pedagógica do Conteúdo Gerado.</p>
                    <p>O PoliLustra não se responsabiliza por qualquer dano direto ou indireto decorrente do uso ou da incapacidade de uso da Plataforma, nem garante que o Conteúdo Gerado não infringirá direitos autorais de terceiros.</p>
                  </li>

                  <li>
                    <b>Rescisão de Acesso:</b>
                    <p>O PoliLustra reserva-se o direito de <strong>suspender</strong> ou o <strong>acesso</strong> do Usuário à Plataforma, sem aviso prévio, caso determine que o Usuário violou qualquer disposição destes Termos ou utilizou a Plataforma de forma inadequada.</p>
                  </li>

                  <li>
                    <b>Lei Aplicável e Foro:</b>
                    <p>Estes Termos serão regidos e interpretados de acordo com as leis da República Federativa do Brasil. Fica eleito o Foro da Comarca de São Paulo, Estado de São Paulo, para dirimir quaisquer litígios ou controvérsias oriundas destes Termos, com renúncia expressa a qualquer outro, por mais privilegiado que seja.</p>
                  </li>

                  <li>
                    <b>Contato:</b>
                    <p>Em caso de dúvidas sobre estes Termos e Condições, entre em contato conosco através do e-mail: <b>[Inserir E-mail de Contato/Suporte]</b>.</p>
                  </li>

                </ol>
              </div>
            </main>        
        </div>
        <%- include('partials/footer') %>
    </body>
</html>