<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Termos e Condições | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div>  
            <main class="container">
              <div class="termos-card my-5">
                <h1 class="mb-3">Termos e Condições</h1>
            
                <ol>
                  <li>
                    <strong>Lorem ipsum dolor sit amet:</strong>
                    <p>consectetur adipiscing elit. Proin in ex nec erat vestibulum lacinia. Ut ac erat facilisis, ornare massa non, auctor urna. Quisque at fermentum metus. Sed rutrum mollis tristique. Maecenas nec imperdiet velit. Nulla facilisi.</p>
                  </li>
                  <li>
                    <strong>Donec molestie non felis et porta:</strong>
                    <p>Etiam id ultrices justo, ac aliquam felis. Nulla nulla nunc, rhoncus sit amet mauris ac, faucibus iaculis urna. In eu ipsum eu risus tristique ornare.</p>
                  </li>
                  <li>
                    <strong>In eu nisl at elit interdum lobortis:</strong>
                    <p>Pellentesque nec magna tincidunt, cursus neque sed, tempor eros. Maecenas sodales, est sed convallis rhoncus, felis elit fermentum ipsum, vitae tempus neque leo commodo dolor. In hac habitasse platea dictumst. Pellentesque pretium nibh sit amet nibh posuere, in pulvinar felis molestie. Cras sed volutpat magna, quis hendrerit risus. Praesent eleifend metus lorem, ac efficitur nisl placerat ac. Ut lorem est, auctor et justo id, tincidunt facilisis est. Mauris congue, neque at lobortis pretium, quam quam pharetra justo, at aliquet velit leo vel massa.</p>
                  </li>
                  <li>
                    <strong>Vestibulum eget enim vulputate:</strong>
                    <p>interdum diam bibendum, efficitur tortor. Ut mi neque, accumsan vitae interdum in, placerat ut libero. Cras dapibus nunc elementum odio rhoncus, non lacinia ex pellentesque. Donec tincidunt hendrerit mattis. Aenean massa mauris, consequat eu lectus at, dignissim facilisis lorem. Phasellus id iaculis neque. Aenean at enim purus. Donec nisi ligula, lobortis ut nisi ut, interdum faucibus ligula. Curabitur malesuada faucibus augue, ac tempus lectus accumsan quis. Proin commodo purus eu quam egestas, nec porta eros euismod.</p>
                  </li>
                </ol>
              </div>
            </main>        
        </div>
        <%- include('partials/footer') %>
    </body>
</html>