<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Termos e Condições | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div>  
            <main class="container">
              <div class="termos-card my-5">
                <h1 class="mb-3">Termos e Condições</h1>
            
                <ol>
                  <li>
                    <strong>Aceitação dos Termos:</strong>
                    <p>O acesso e a utilização da Plataforma implicam na aceitação integral e irrestrita destes Termos e da Política de Privacidade do PoliLustra. Caso o Usuário não concorde com qualquer disposição destes Termos, não deve utilizar a Plataforma.</p>
                  </li>
                  <li>
                    <strong>Atualizações:</strong>
                    <p>Atualizações: O PoliLustra reserva-se o direito de alterar, modificar ou atualizar estes Termos a qualquer momento. As alterações entrarão em vigor imediatamente após sua publicação na Plataforma. É responsabilidade do Usuário revisar periodicamente estes Termos.</p>
                  </li>
                  <li>
                    <strong>Objeto da Plataforma e Uso Permitido:</strong>
                    <p>Objeto: O PoliLustra é uma ferramenta baseada em Inteligência Artificial destinada a gerar imagens para serem utilizadas como recurso pedagógico e visual em aulas das instituições parceiras.O uso das imagens geradas pela Plataforma é estritamente para fins educacionais, não-comerciais e internos às atividades do Instituto Mauá de Tecnologia e do Colégio Poliedro.</p>
                  </li>
                  <li>
                    <strong>Propriedade Intelectual e Direitos Autorais:</strong>
                    <p>Todo o Conteúdo disponibilizado na Plataforma (ilustrações, gráficos, textos, etc.) é de **Propriedade Intelectual conjunta ou licenciada pelas Instituições Parceiras** (Instituto Mauá de Tecnologia e Colégio Poliedro), e está protegido pelas leis de direitos autorais e propriedade industrial.</p>
                  </li>
                </ol>
              </div>
            </main>        
        </div>
        <%- include('partials/footer') %>
    </body>
</html>