:root {
    --bs-primary: #1EB4C3;
    --bs-primary-rgb: 30, 180, 195;
    --bs-body-color: #1B1C20;
    --bs-body-color-rgb: 27, 28, 32;
    --bs-body-bg: #F5F5F5;
    --bs-body-bg-rgb: 245, 245, 245;
    --bs-danger: #ED2152;
    --bs-danger-rgb: 237 33 82;
    --bs-light: #FAFAFA;
    --bs-light-rgb: 250 250 250;
    --bs-body-font-family: 'Inria Sans', sans-serif;
    --bs-body-font-size: 1.25rem;
}

.vh-90 {
    height: 90vh;
}

.w-35 {
    width: 35%;
}

.font-itim {
    font-family: 'Itim', cursive; !important
}